/* WorldMap.css */
html, body, #root {
    height: 50%;
    margin: 0;
    padding: 0;
  }
  
  .map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #map a, #map p {
    display:block;
    overflow:hidden;
    position:absolute;
    text-indent:-9999px;
    z-index:400;
    }